/* Initial body */

body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    /*background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://lsu.edu/_resources/images/visit3.jpeg');
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */*/
}


/* Initial menu */
.menu {
    background-color: rgba(34, 51, 59, 0.9); /* Black w/opacity */
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;
    z-index: 5;
}

/* Basic styling */
.bg-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://lsu.edu/_resources/images/visit3.jpeg');
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

.menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu a {
    color: #D8DBE2;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}


.icon-menu {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    z-index: 2;

}

.icon-menu:hover{
    transform: scale(1.1);
}

.icon-menu i {
    margin-right: 5px;
}
